/*
    브라우저마다 기본값이 달라 여백의 오차가 있다.
    body에 작성된 부분은 모든 브라우저에서 통일된 화면을 볼 수 있도록
    초기화 하는 작업이다.
*/

/* Header */
.body{
    text-align: center;
}

.menu{
    height: 80px;
    margin-right: 10px;
    padding: 10px;
    background-color: dimgrey;
}

/* contents */
#wrapper {
    width: 100%;
    height: auto;
    top: 10px;
}

#main {
    text-align: center;
    width: 80%;
    height: 90%;
    padding: 8px;
    padding-bottom: 4em;
    background-color: White;
}

#profile {
    height: 150px;
    border: 1px solid #808080;
    padding: 10px;
    text-align: center;
}

#sidebar {
    border: 1px solid #808080;
    width: 35%;
    float: left;
    padding: 5px;
}

#contents {
    width: 65%;
    float: left;
    padding: 10px;
    margin-left: 10px;
}

/* footer */
#footer {
    font-size: 15px;
    color: #3d3737;
    text-align: right;
    background: #ccc;
    line-height: 60px;
    height: 60px;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

